* {
    background-color: rgb(27, 26, 26);
    color: white;
}

html body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
}

@media only screen and (max-width: 992px){
    #page-title {
        display: flex;
        align-items: center;
        height: 20vh;
        font-size: 0.75em;
    }

    #titles {
        margin: auto;
    }

    .centered-title {
        text-align: center;
    }

    #page-tools {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        font-size: 1em;
    }

    #projects-header{
        height: 2vh;
        display: flex;
        align-items: center;
        padding-left: 3vw;
        padding-bottom: 10vh;
        font-size: 1.5em;
    }

    .project {
        display: flex;
        justify-content: center;
    }

    .project > .text {
        width: 65%;
        text-align: center;
        font-size: 0.75em;
    }

    .project > .image {
        width: 50%;
    }

    .right-image {
        width: 30vw;
        height: 40vw;
        margin-top: 3vh;
    }

    .left-image {
        width: 50vw;
        height: 25vw;
        margin: 5vh 0 5vh 5vw;
    }

    #footer {
        border-top: 0.2vh solid black;
        height: 10vh;
        background: rgb(27, 26, 26);
    }

    .vector-graphics {
        padding: 2vh 0 1vh 2vw;
        width: 7.5vw;
    }

    #copyright {
        margin-top: 0;
        padding: 1vh 0 1.5vh 1vw;
    }
}

@media only screen and (min-width: 993px){
    #page-title {
        display: flex;
        align-items: center;
        height: 20vh;
    }

    #titles {
        margin: auto;
    }

    .centered-title {
        text-align: center;
    }

    #page-tools {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

    #projects-header{
        height: 1vh;
        display: flex;
        align-items: center;
        padding-left: 3vw;
        padding-top: 10vh;
    }

    .project {
        display: flex;
        justify-content: center;
        height: 35vw;
    }

    .project > .text {
        width: 65%;
        text-align: center;
    }

    .project > .image {
        width: 50%;
        margin: 8vh 0 0 2.5vw;
    }

    .right-image {
        width: 25vw;
        height: 35vw;
        margin: 0 0 50vh 5vw;
    }

    .left-title{
        margin: 15vh 0 0 0;
    }

    .left-image {
        width: 40vw;
        height: 25vw;
    }

    .right-title {
        margin-top: 12.5vh;
    }

    #footer {
        border-top: 0.2vh solid black;
        height: 10vh;
        background: rgb(27, 26, 26);
    }

    .vector-graphics {
        padding: 2vh 0 1vh 2vw;
        width: 2.5vw;
    }

    #copyright {
        margin-top: 0;
        padding: 1vh 0 1.5vh 1vw;
    }
}
