* {
    background-color: rgb(27, 26, 26);
    color: white;
}

html body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
}

@media only screen and (max-width: 992px){
    #page-title {
        display: flex;
        align-items: center;
        height: 20vh;
        font-size: 0.75em;
    }

    #titles {
        margin: auto;
    }

    .centered-title {
        text-align: center;
    }

    #page-tools {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30vh;
        font-size: 1em;
    }

    #projects-header{
        height: 25vh;
        display: flex;
        align-items: center;
        padding-left: 3vw;
        font-size: 1.5em;
    }

    .project {
        background-color: red;
        display: flex;
        justify-content: center;
    }

    .project > .text {
        width: 65%;
        text-align: center;
        font-size: 0.75em;
    }

    .project > .image {
        width: 35%;
    }

    .right-image {
        width: 30vw;
        height: 40vw;
    }

    .work-in-progress{
        height: 35vh;
        line-height: 35vh;
        font-size: 0.75em;
    }

    #footer {
        border-top: 0.2vh solid black;
        height: 10vh;
        background: rgb(27, 26, 26);
    }

    .vector-graphics {
        padding: 2vh 0 1vh 2vw;
        width: 7.5vw;
    }

    #copyright {
        margin-top: 0;
        padding: 1vh 0 1.5vh 1vw;
    }
}

@media only screen and (min-width: 993px){
    #page-title {
        display: flex;
        align-items: center;
        height: 20vh;
    }

    #titles {
        margin: auto;
    }

    .centered-title {
        text-align: center;
    }

    #page-tools {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20vh;
    }

    #projects-header{
        height: 20vh;
        display: flex;
        align-items: center;
        padding-left: 3vw;
    }

    .project {
        background-color: red;
        display: flex;
        justify-content: center;
    }

    .project > .text {
        width: 65%;
        text-align: center;
    }

    .project > .image {
        width: 35%;
    }

    .right-image {
        width: 25vw;
        height: 35vw;
    }

    .work-in-progress{
        height: 35vh;
        line-height: 35vh;
    }

    #footer {
        border-top: 0.2vh solid black;
        height: 10vh;
        background: rgb(27, 26, 26);
    }

    .vector-graphics {
        padding: 2vh 0 1vh 2vw;
        width: 2.5vw;
    }

    #copyright {
        margin-top: 0;
        padding: 1vh 0 1.5vh 1vw;
    }
}
