<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index_style.css">
    <title>Portfolio website</title>
</head>
<body>
    <div id="page-title">
        <div id="titles" class="centered-title">
            <h1>Hello, I'm Dospinescu Daniel</h1>
            <h2>A python programmer that enjoys problem solving</h2>
        </div>
    </div>

    <div id="frontend/backend-tools" class="centered-title">
        <h2>Frontend: HTML/CSS</h2>
        <h2>Backend: Flask</h2>
    </div>

    <h1 id="projects-header">Personal projects:</h1>

    <div class="project">
        <div class="text">
            <h1 class="left-title">Machine learning model for predicting heart disease risk</h1>
            <h2 class="left-subtitle">Programming language: Python</h2>
            <h2 class="left-subtitle">Libraries: Scikit-learn, Pandas</h2>
            <a href="#"><h2>Project link</h2></a>
        </div>
        <div class="image">
            <img class="right-image" src="../static/images/heart.jpg" alt="heart picture">
        </div>
    </div>

    <div class="centered-title work-in-progress">
        <h1>-Work in progress-</h1>
    </div>


    <footer id="footer">
        <a href="https://github.com/dospix" target="_blank"><img class="vector-graphics" src="../static/images/github.svg" alt="GitHub"/></a>
        <a href="https://www.linkedin.com/in/daniel-dospinescu-ba7285239/" target="_blank"><img class="vector-graphics" src="../static/images/linked_in.svg" alt="LinkedIn"/></a>
        <h4 id="copyright">&copy; 2022 Dospinescu Daniel</h4>
    </footer>
</body>
</html>