<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Portfolio website</title>
</head>
<body>
    <div class="centered-title">
        <h1>Hello, I'm Dospinescu Daniel</h1>
        <h2>A python programmer that enjoys problem solving</h2>
    </div>
    

    <h1>Projects:</h1>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem corporis sequi id ipsam similique obcaecati soluta tempore ullam hic est veritatis consectetur exercitationem, enim quasi in ratione, illum nam necessitatibus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nam facere. Unde at quibusdam similique. Deleniti molestiae veritatis magni fugiat odit sit, sunt corporis nemo. Ratione dolor saepe non ipsam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia amet incidunt ad, officia, adipisci porro est aspernatur, a sequi iusto minus cupiditate nesciunt ipsum aut rerum sit! Esse, perferendis eligendi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam deserunt, facilis, corrupti tempora maxime iusto repellat ipsam illo, accusamus ipsum sed aliquam! Dicta quidem similique beatae doloremque aspernatur, accusamus sed.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequuntur animi quam, suscipit eos excepturi nulla in recusandae cum provident sapiente tenetur minus, dignissimos velit vel, a officia facere asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores cum pariatur odit ad ex sequi similique quia eius? Delectus ipsa voluptatem magnam dolor porro quod ex animi praesentium dicta autem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione quis earum aut repellat provident excepturi dignissimos quod blanditiis, quo vel omnis nemo vitae pariatur, praesentium sequi cupiditate rem labore!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ullam, possimus nihil sit laboriosam iure nulla id voluptatibus eum est enim harum, non corrupti numquam repellendus beatae repudiandae consectetur odio.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae modi labore temporibus, consectetur eum delectus aspernatur eius, rem laboriosam minus voluptatum ut necessitatibus beatae ratione quis vero iusto magnam? Totam.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem corporis sequi id ipsam similique obcaecati soluta tempore ullam hic est veritatis consectetur exercitationem, enim quasi in ratione, illum nam necessitatibus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nam facere. Unde at quibusdam similique. Deleniti molestiae veritatis magni fugiat odit sit, sunt corporis nemo. Ratione dolor saepe non ipsam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia amet incidunt ad, officia, adipisci porro est aspernatur, a sequi iusto minus cupiditate nesciunt ipsum aut rerum sit! Esse, perferendis eligendi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam deserunt, facilis, corrupti tempora maxime iusto repellat ipsam illo, accusamus ipsum sed aliquam! Dicta quidem similique beatae doloremque aspernatur, accusamus sed.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequuntur animi quam, suscipit eos excepturi nulla in recusandae cum provident sapiente tenetur minus, dignissimos velit vel, a officia facere asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores cum pariatur odit ad ex sequi similique quia eius? Delectus ipsa voluptatem magnam dolor porro quod ex animi praesentium dicta autem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione quis earum aut repellat provident excepturi dignissimos quod blanditiis, quo vel omnis nemo vitae pariatur, praesentium sequi cupiditate rem labore!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ullam, possimus nihil sit laboriosam iure nulla id voluptatibus eum est enim harum, non corrupti numquam repellendus beatae repudiandae consectetur odio.
        Lorem ipsum dolor sit amet consecLorem ipsum, dolor sit amet consectetur adipisicing elit. Rem corporis sequi id ipsam similique obcaecati soluta tempore ullam hic est veritatis consectetur exercitationem, enim quasi in ratione, illum nam necessitatibus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nam facere. Unde at quibusdam similique. Deleniti molestiae veritatis magni fugiat odit sit, sunt corporis nemo. Ratione dolor saepe non ipsam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia amet incidunt ad, officia, adipisci porro est aspernatur, a sequi iusto minus cupiditate nesciunt ipsum aut rerum sit! Esse, perferendis eligendi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam deserunt, facilis, corrupti tempora maxime iusto repellat ipsam illo, accusamus ipsum sed aliquam! Dicta quidem similique beatae doloremque aspernatur, accusamus sed.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequuntur animi quam, suscipit eos excepturi nulla in recusandae cum provident sapiente tenetur minus, dignissimos velit vel, a officia facere asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores cum pariatur odit ad ex sequi similique quia eius? Delectus ipsa voluptatem magnam dolor porro quod ex animi praesentium dicta autem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione quis earum aut repellat provident excepturi dignissimos quod blanditiis, quo vel omnis nemo vitae pariatur, praesentium sequi cupiditate rem labore!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ullam, possimus nihil sit laboriosam iure nulla id voluptatibus eum est enim harum, non corrupti numquam repellendus beatae repudiandae consectetur odio.
        Lorem ipsum dolor sit amet consecLorem ipsum, dolor sit amet consectetur adipisicing elit. Rem corporis sequi id ipsam similique obcaecati soluta tempore ullam hic est veritatis consectetur exercitationem, enim quasi in ratione, illum nam necessitatibus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nam facere. Unde at quibusdam similique. Deleniti molestiae veritatis magni fugiat odit sit, sunt corporis nemo. Ratione dolor saepe non ipsam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia amet incidunt ad, officia, adipisci porro est aspernatur, a sequi iusto minus cupiditate nesciunt ipsum aut rerum sit! Esse, perferendis eligendi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam deserunt, facilis, corrupti tempora maxime iusto repellat ipsam illo, accusamus ipsum sed aliquam! Dicta quidem similique beatae doloremque aspernatur, accusamus sed.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequuntur animi quam, suscipit eos excepturi nulla in recusandae cum provident sapiente tenetur minus, dignissimos velit vel, a officia facere asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores cum pariatur odit ad ex sequi similique quia eius? Delectus ipsa voluptatem magnam dolor porro quod ex animi praesentium dicta autem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione quis earum aut repellat provident excepturi dignissimos quod blanditiis, quo vel omnis nemo vitae pariatur, praesentium sequi cupiditate rem labore!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ullam, possimus nihil sit laboriosam iure nulla id voluptatibus eum est enim harum, non corrupti numquam repellendus beatae repudiandae consectetur odio.
        Lorem ipsum dolor sit amet consecLorem ipsum, dolor sit amet consectetur adipisicing elit. Rem corporis sequi id ipsam similique obcaecati soluta tempore ullam hic est veritatis consectetur exercitationem, enim quasi in ratione, illum nam necessitatibus?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, nam facere. Unde at quibusdam similique. Deleniti molestiae veritatis magni fugiat odit sit, sunt corporis nemo. Ratione dolor saepe non ipsam.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia amet incidunt ad, officia, adipisci porro est aspernatur, a sequi iusto minus cupiditate nesciunt ipsum aut rerum sit! Esse, perferendis eligendi!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam deserunt, facilis, corrupti tempora maxime iusto repellat ipsam illo, accusamus ipsum sed aliquam! Dicta quidem similique beatae doloremque aspernatur, accusamus sed.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium consequuntur animi quam, suscipit eos excepturi nulla in recusandae cum provident sapiente tenetur minus, dignissimos velit vel, a officia facere asperiores.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores cum pariatur odit ad ex sequi similique quia eius? Delectus ipsa voluptatem magnam dolor porro quod ex animi praesentium dicta autem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae ratione quis earum aut repellat provident excepturi dignissimos quod blanditiis, quo vel omnis nemo vitae pariatur, praesentium sequi cupiditate rem labore!
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia ullam, possimus nihil sit laboriosam iure nulla id voluptatibus eum est enim harum, non corrupti numquam repellendus beatae repudiandae consectetur odio.
        Lorem ipsum dolor sit amet consec
    </p>
    <footer id="footer">
        <a href="https://github.com/dospix" target="_blank"><img id="vector-graphics" src="../static/images/github.svg" alt="GitHub"/></a>
        <a href="" target="_blank"><img id="vector-graphics" src="../static/images/linked_in.svg" alt="LinkedIn"/></a>
        <h4 id="copyright">&copy; 2022 Dospinescu Daniel</h4>
    </footer>
</body>
</html>