* {
    background-color: rgb(27, 26, 26);
    color: white;
}

html body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 1vh 1vw 1vh 1vw;
    margin: 1vh 1vw 1vh 1vw;
}

.centered-title {
    text-align: center;
}

#footer {
    border-top: 0.2vh solid black;
    height: 10vh;
    background: rgb(27, 26, 26);
}

#vector-graphics {
    padding: 2vh 0 1vh 2vw;
    width: 2.5vw;
}

#copyright {
    margin-top: 0;
    padding: 1vh 0 1.5vh 1vw;
}